<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>Dashboard</title>
</head>
<body>
  {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      <article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="meta">
        <strong>Posted by {{user.username}} on {{format_date created_at}}</strong>
    </div>
    </article>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<body>

<h2>Search for Drinks by Name</h2>

<div>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for drinks.." title="Type in a name">
</div>
 <div class="search-button2">
       <button type="submit"><a href="/search" class="create-btn">Search!</a></button>
    </div>
<ul id="myUL">
  <li><a href="/rum">Rum</a></li>
  <section>
    

    <div class=“flex2” id=“directory”></div>
    <div class=“card” style=“width: 18rem;“>

        <div class=“card-body”>
            <h5 class=“card-title”></h5>
            <p class=“card-text”></p>

        </div>
    </div>
</div>
</section>
  <li><a href="/vodka">Vodka</a></li>
  <section>

    <div class=“flex2” id=“directory”></div>
    <div class=“card” style=“width: 18rem;“>

        <div class=“card-body”>
            <h5 class=“card-title”></h5>
            <p class=“card-text”></p>

        </div>
    </div>
</div>
</section>

  <li><a href="/bourbon">Bourbon</a></li>
  <section>

    <div class=“flex2” id=“directory”></div>
    <div class=“card” style=“width: 18rem;“>

        <div class=“card-body”>
            <h5 class=“card-title”></h5>
            <p class=“card-text”></p>

        </div>
    </div>
</div>
</section>
  <li><a href="/tequila">Tequila</a></li>
  <section>

    <div class=“flex2” id=“directory”></div>
    <div class=“card” style=“width: 18rem;“>

        <div class=“card-body”>
            <h5 class=“card-title”></h5>
            <p class=“card-text”></p>

        </div>
    </div>
</div>
</section>

  <li><a href="/whiskey">Whiskey</a></li>
  <section>

    <div class=“flex2” id=“directory”></div>
    <div class=“card” style=“width: 18rem;“>

        <div class=“card-body”>
            <h5 class=“card-title”></h5>
            <p class=“card-text”></p>

        </div>
    </div>
</div>
</section>
</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>


<div class="search-button">
    <button type="submit"><a href="/dashboard/createpost" class="create-btn">Add New Drink!</a></button>
</div>


</body>
</html>