<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css"
    />
    <title>Dashboard</title>
  </head>
  <body>

    {{#if posts.length}}
      <section>
        <h2>Your Posts</h2>
        <ol>
          {{#each posts as |post|}}
            <li>
              <article class="post">
                <div class="title">
                  <a href="/post/{{id}}">{{title}}</a>
                </div>
                <div class="meta">
                  <strong>Posted by
                    {{user.username}}
                    on
                    {{format_date created_at}}</strong>
                </div>
              </article>
              <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </li>
          {{/each}}
        </ol>
      </section>
    {{/if}}

    <div>
      <button type="submit"><a
          href="/dashboard/createpost"
          class="create-btn"
        >Create A New Post</a></button>
    </div>

  </body>
</html>